# git+https://github.com/aereaux/python-musicbrainzngs.git
beautifulsoup4~=4.12.2
fandom-py~=0.2.1
# filedate~=2.0
python-dateutil~=2.8.2
pyacoustid~=1.2.2
mutagen~=1.46.0
yt-dlp~=2023.10.7

git+https://github.com/qwrwed/utils-python.git
